{% extends "base.html" %}
{% block page_title %}Molybdenum guide{% endblock %}
{% block content %}

<main role="main">
    <div id="accordion">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12">

                    <h1>About</h1>

                    <p>Molybdenum model builder.... working on it!
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>



<!-- Make the class active on the navbar -->
<script>
    var nav_item = document.getElementById("nav_about");
    nav_item.classList.add("active");
</script>

{% endblock %}