{% extends "base.html" %}
{% block page_title %}Molybdenum guide{% endblock %}
{% block content %}

<main role="main">
    <div id="accordion">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12">

                    <h1>About</h1>

                    <p>Molybdenum is a model builder for tellurium.</p>

                    <p>The actual prototype allows for some simple model building but still has some known issues. If you find an issue, let me know via <a href='https://github.com/mexposit/molybdenum'>github</a>.</p>

                    <p>Credits: Marc Exposit Goy, 11 december 2021, supervised by Joseph Hellerstein and Herbert Sauro during UW's BIOEN 537 Computational Systems Biology class.</p>
                </div>
            </div>
        </div>
    </div>

</main>



<!-- Make the class active on the navbar -->
<script>
    var nav_item = document.getElementById("nav_about");
    nav_item.classList.add("active");
</script>

{% endblock %}