{% set antimony_rep, sbml_rep, molybdenum_rep = model_reps %}

<!-- <form> -->
<div class="accordion accordion-flush" id="accordionModelRepresentation">
    <div class="accordion-item">
        <h2 class="accordion-header" id="ModRep-HeadingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#ModelRep-collapseOne" aria-expanded="false" aria-controls="ModelRep-collapseOne">
                Model representations
            </button>
        </h2>
        <div id="ModelRep-collapseOne" class="accordion-collapse collapse show" aria-labelledby="ModRep-HeadingOne"
            data-bs-parent="#accordionModelRepresentation">
            <div class="accordion-body" id="form-ModelRep-antimony-content">
                <div class="row">
                    <div class="col-sm">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Antimony</span>
                            </div>
                            <textarea class="form-control model-rep-textarea" aria-label="With textarea">{{ antimony_rep }}</textarea>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">SBML</span>
                            </div>
                            <textarea class="form-control model-rep-textarea" aria-label="With textarea">{{ sbml_rep }}</textarea>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text model-rep-textarea">Molybdenum</span>
                            </div>
                            <textarea class="form-control" aria-label="With textarea">{{ molybdenum_rep }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- </form> -->



    <!-- With the help of: https://stackoverflow.com/questions/40963401/flask-dynamic-data-update-without-reload-page/40964086 -->
    <!-- Insert here the content of species based on this id, delete all below -->
    <!-- <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
    </div>
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
</div>
<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div> -->

    <!-- <div class="mb-3">
    <div class="form-text"><b>Received input:</b> {{ model_data }} </div>
    <label for="exampleInputEmail1" class="form-label">Concentration example</label>
    <input type="email" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Units arbitrary (so far...), just make sure everything matches
    </div>
</div> -->

    <!-- Table example -->
    <!-- Without caption top, caption goes to the botton even if written on top -->
    <!-- <table class="table caption-top table-sm table-hover">
    <caption>List of species, you can edit their values</caption>
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table> -->