{% extends "base.html" %}
{% block page_title %}Molybdenum guide{% endblock %}
{% block content %}

<main role="main">
    <div id="accordion">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12">

                    <h1>User guide</h1>

                    <p class="text-justify">Molybdenum model builder is a representation of systems biology models to assist researchers
                        build and test models with easy integration to modeling suites like tellurium. This interactive online web app
                        facilitates its usage and is complementary to the python module, <a
                            href="https://github.com/mexposit/molybdenum">molybdenum</a>.</p>
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="row pt-5 justify-content-center">
                <div class="col-md-12">

                    <h2>How to use molybdenum to build models</h2>

                    <p class="text-justify">The following video offers a quick tour of molybdenum:</p>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/tjZ_vdc9bSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="row pt-5 justify-content-center">
                <div class="col-md-12">

                    <h2>How to build a feedback system</h2>

                    <p class="text-justify">The following video demonstrates how to build a feedback system with molybdenum. This is challenging as some species involved in reaction's rate are neither reagents nor products of the reaction.</p>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/K-Kh2IlN-wQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="row pt-5 justify-content-center">
                <div class="col-md-12">

                    <h2>How to change parameters in real time</h2>

                    <p class="text-justify">The following video shows that changing parameters and re-predicting is easy</p>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lKCXfkPfVvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- justify-content-center -->
<!-- Make the class active on the navbar -->
<script>
    var nav_item = document.getElementById("nav_guide");
    nav_item.classList.add("active");
</script>

{% endblock %}