{% extends "base.html" %}
{% block page_title %}Molybdenum home{% endblock %}
{% block content %}



<main role="main" id="main">
	<div class="container px-4 py-5">
		<h2 class="pb-2 border-bottom">Model builder</h2>

		<div class="row" style='height: 600px'>
			<div id="graph" class='p-0' style='border:1px solid black;'>
				<div id="toolbox">
					<input type="file" id="hidden-file-upload">
					<button type="submit" id="download-input" class="btn btn-outline-secondary "><i
							class="fa fa-download"></i> Download graph</button>
					<button type="submit" id="delete-graph" class="btn btn-outline-secondary"><i
							class="fa fa-trash"></i> Delete graph</button>
					<!-- <input id="upload-input" type="image" title="upload graph" src="upload-icon.png" alt="upload graph">
					<input type="image" id="download-input" title="download graph" src="download-icon.png"
						alt="download graph">
					<input type="image" id="delete-graph" title="delete graph" src="trash-icon.png" alt="delete graph"> -->
				</div>
			</div>

		</div>

	</div>
	<div class="container px-4 py-5">
		<div class="row">
			<h2 class="pb-2 border-bottom">Parameter specs</h2>
		</div>

		<form id="modelParameters">
			<!-- Insert here the content of species based on this id, delete all below -->
		</form>

	</div>

	<!-- Don't show error panel by default -->
	<div class="container px-4 py-5" display="none" id="modelErrorsContainer">
		<div class="row">
			<h2 class="pb-2 border-bottom">Errors</h2>
		</div>
		<div class="accordion accordion-flush" id="modelErrors">
			<div class="accordion-item">
				<h2 class="accordion-header" id="ModErr-HeadingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#ModErr-collapseOne" aria-expanded="false" aria-controls="ModErr-collapseOne">
						Errors
					</button>
				</h2>
				<div id="ModErr-collapseOne" class="accordion-collapse collapse show"
					aria-labelledby="ModErr-HeadingOne" data-bs-parent="#modelErrors">
					<div class="accordion-body" id="form-ModErr-antimony-content">
						<div class="row">
							<div class="col-sm">
								<p id="modelErrorText">
									<!-- Insert here error if there is any -->
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container px-4 py-5">
		<div class="row">
			<h2 class="pb-2 border-bottom">Model representations</h2>
		</div>


		<div class="accordion accordion-flush" id="accordionModelRepresentation">
			<div class="accordion-item">
				<h2 class="accordion-header" id="ModRep-HeadingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#ModelRep-collapseOne" aria-expanded="false" aria-controls="ModelRep-collapseOne">
						Model representations
					</button>
				</h2>
				<div id="ModelRep-collapseOne" class="accordion-collapse collapse show" aria-labelledby="ModRep-HeadingOne"
					data-bs-parent="#accordionModelRepresentation">
					<div class="accordion-body" id="form-ModelRep-antimony-content">
						<div class="row">
							<div class="col-sm">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Antimony</span>
									</div>
									<textarea class="form-control model-rep-textarea" aria-label="With textarea" id="AntimonyModelRepresentation"></textarea>
								</div>
							</div>
							<div class="col-sm">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">SBML</span>
									</div>
									<textarea class="form-control model-rep-textarea" aria-label="With textarea" id="SBMLModelRepresentation"></textarea>
								</div>
							</div>
							<div class="col-sm">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Molybdenum</span>
									</div>
									<textarea class="form-control model-rep-textarea" aria-label="With textarea" id="MolybdenumModelRepresentation"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container px-4 py-5">
		<div class="row">
			<h2 class="pb-2 border-bottom">Simulation parameters</h2>
		</div>
		<form id="simParams">
			<!-- Insert here the input for simulation parameters -->
			<div class="accordion accordion-flush" id="simParamsAccordion">
				<div class="accordion-item">
					<h2 class="accordion-header" id="simparm-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#simparm-collapseOne" aria-expanded="false"
							aria-controls="simparm-collapseOne">
							Simulation parameters
						</button>
					</h2>
					<div id="simparm-collapseOne" class="accordion-collapse collapse show"
						aria-labelledby="simparm-headingOne">
						<div class="accordion-body" id="form-species-content">
							<div class="row mb-3">
								<div class="col-md-4">
									<label for="simStart" class="form-label">Start time</label>
									<input type="number" min=0 step="any" name="sim_start" class="form-control"
										id="simStart" value=0>
								</div>
								<div class="col-md-4">
									<label for="simEnd" class="form-label">End time</label>
									<input type="number" min=0 step="any" name="sim_end" class="form-control"
										id="simEnd" value=10>
								</div>
								<div class="col-md-4">
									<label for="simPoints" class="form-label">Points</label>
									<input type="number" min=0 name="sim_points" class="form-control" id="simPoints"
										value=100>
								</div>
							</div>
							<!-- For a vertical layout -->
							<!-- <div class="row mb-3">
								<label for="simStart" class="col-sm-2 col-form-label">Start time</label>
								<div class="col-sm-3">
									<input type="number" class="form-control" id="simStart" value=0>
								</div>
							</div>
							<div class="row mb-3">
								<label for="simEnd" class="col-sm-2 col-form-label">End time</label>
								<div class="col-sm-3">
									<input type="number" class="form-control" id="simEnd" value=10>
								</div>
							</div>
							<div class="row mb-3">
								<label for="simPoints" class="col-sm-2 col-form-label">Points</label>
								<div class="col-sm-3">
									<input type="number" class="form-control" id="simPoints" value=100>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="container px-4 py-5">
		<div class="row">
			<h2 class="pb-2 border-bottom">Run model</h2>
		</div>
		<div class="accordion accordion-flush" id="SimParamsAccordion">
			<div class="accordion-item">
				<h2 class="accordion-header" id="simparm-headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						data-bs-target="#simparm-collapseOne" aria-expanded="false" aria-controls="simparm-collapseOne">
						Run model and view results
					</button>
				</h2>
				<div id="simparm-collapseOne" class="accordion-collapse collapse show"
					aria-labelledby="simparm-headingOne">
					<div class="accordion-body" id="form-species-content">
						<div class="row mb-3 justify-content-center">
							<div class="col-md text-center">
								<!-- Button to submit form with simulation parameters and trigger running -->
								<input class="btn btn-primary" type="submit" value="Run model" form="simParams">
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-md">
								<h3>Model results</h3>
							</div>

						</div>
						<div class="row mb-3 justify-content-center">
							<div class="col-md" id="ModelPlot">
								<!-- Flask inserts here the graphic produced when running the model -->
							</div>
						</div>
						<!-- TODO: Add other divs to download csv file, or show important information, etc... -->
					</div>
				</div>
			</div>
		</div>


	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script src="{{ url_for('static', filename='assets/bootstrap-5.0.2-dist/js/bootstrap.min.js') }}"></script>

	<script src="//d3js.org/d3.v3.js" charset="utf-8"></script>
	<script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script>
	<script src="{{ url_for('static', filename='src/graph-creator.js') }}"></script>



	<script>
		// here using the change event which fires after moving focus away from form input
		// else use input or keyon to change everytime anything is typed
		// VERY HELPFUL: https://eloquentjavascript.net/2nd_edition/18_forms.html

		// This one is just used first time to update the form with empty graph
		function initForm() {
			console.log("Initialize form");
			$.ajax({
				url: "/updated_graph",
				type: "POST",
				// pass in a string that represents the empty graph
				contentType: 'application/json; charset=utf-8',
				data: '{"nodes":[],"edges":[]}',
				success: function (response) {
					// update form
					$("#modelParameters").html(response);
				},
				error: function (xhr) {
					// no error possible since expected data type is not specified
				}
			});
		};

		//to trigger if form has been updated
		function updatedForm() {
			//get data from the form
			var form_data = $('#modelParameters').serialize();
			$.ajax({
				url: "/updated_form",
				type: "POST",
				data: form_data, //pass in form information
				success: function (response) {
					// nothing to do, just updated internal representation
					// TODO: must update parameters, maybe could only update them not all form to avoid disruptions
					$("#modelParameters").html(response);
					// so I could not have this here but the parameters which are in the form would only be updated
					// when updating the graph, and this would be a problem as you see changes in internal model
					// but not in the form surface...! so a solution to avoid updating everything may be only
					// subsetting the parameters and updating only the site of the parameters, should be easy... but would require another template for only the parameters
				},
				error: function (request, status, error) {
					// TODO: color cell in red or something with javascript and insert error message
					console.log("Error\n" + request.responseJSON.message);
				}
			});
		};

		//to trigger if form has been updated, update representations
		function updateRepresent() {
			//get data from the form
			// var form_data = $('#modelParameters').serialize();
			$.ajax({
				url: "/update_representation",
				type: "POST",
				// data: form_data, //pass in form information
				success: function (response) {
					var response_array = response;
					var status = response_array[0];
					var error_message = response_array[1];
					var antimony_rep = response_array[2];
					var sbml_rep = response_array[3];
					var molybdenum_rep = response_array[4];
					// status, error_message, antimony_rep, sbml_rep, molybdenum_rep = stre
					// success just means we received the response
					if (status == "success") {
						// model compilation was correct
						// remove error message if there was any
						$("#modelErrorText").html("");
						// hide error display
						$('#modelErrorsContainer').hide();
						// add model representations
						// add model representations that are now an error message
						$("#AntimonyModelRepresentation").html(antimony_rep);
						$("#SBMLModelRepresentation").html(sbml_rep);
						$("#MolybdenumModelRepresentation").html(molybdenum_rep);
						// remove invalid color from text representations
						if ($('.model-rep-textarea').hasClass('is-invalid')) {
							$('.model-rep-textarea').removeClass('is-invalid')
						}
					} else if (status == "error") {
						// model did not compile, show error
						// show error block
						$('#modelErrorsContainer').show();
						// fill in error message
						$("#modelErrorText").html(error_message);
						// add model representations that are now an error message
						$("#AntimonyModelRepresentation").html(antimony_rep);
						$("#SBMLModelRepresentation").html(sbml_rep);
						$("#MolybdenumModelRepresentation").html(molybdenum_rep);
						// $("#modelRepresentations").html(model_rep_html);
						// color model representations as invalid
						if ($('.model-rep-textarea').hasClass('is-invalid')) {
						} else {
							$('.model-rep-textarea').addClass('is-invalid')
						}
					} else {
						console.log("Error updating representation");
					}
				}
				// },
				// error: function (xhr) {
				// 	console.log(xhr);
				// 	console.log('got error');
				// 	// errors are handled in success to print errors and other messages
				// }
			});
		};

		//to run the model
		function runModel(event) {
			//get data from the model parameters form
			var sim_param = $('#simParams').serialize();
			$.ajax({
				url: "/run_model",
				type: "POST",
				data: sim_param, //pass in form information
				success: function (response) {
					// insert graph
					$("#ModelPlot").html(response);
				},
				error: function (request, status, error) {
					// TODO: insert error message in red
					console.log("Error\n" + request.responseJSON.message);
				}
			});
			// prevent refreshing page when submitting form
			event.preventDefault();
		};

		// // initialize form
		// $(document).ready(initForm);
		// $(document).ready(updateRepresent);
		// // // update it with every change in the graph
		// // // $("#graph").mouseup(updateForm);
		// // // $("#graph").keyup(updateForm);
		// // // $("#graph").mouseout(updateForm);
		// // $("#graph").mousedown(updatedGraph);
		// // $("#graph").mouseup(updatedGraph);
		// // $("#graph").click(updatedGraph);
		// // $("#graph").mouseover(updatedGraph);
		// // $("#graph").mouseout(updatedGraph);

		// // trigger updatedForm every time a new value is added to the form
		// $("#modelParameters").change(updatedForm);
		// $("#modelParameters").change(updateRepresent);

		// initialize form
		$(document).ready(function () {
			// initialize values
			initForm();
			updateRepresent();
			// update forms and model representations
			$("#modelParameters").change(updatedForm);
			$("#modelParameters").change(updateRepresent);
			// define what do do when subbmiting form
			$("#simParams").on('submit', runModel);

		});

		// trigger updatedForm every time a new value is added to the form


		// function updateForm() {
		// 	console.log("Form update");
		// 	// var text = $(this).val();
		// 	$.ajax({
		// 		url: "/background_process_test",
		// 		type: "get",
		// 		//data: {jsdata: text}, //pass in form information
		// 		success: function (response) {
		// 			$("#modelParameters").html(response);
		// 		},
		// 		error: function (xhr) {
		// 			//Do Something to handle error
		// 		}
		// 	});
		// };

		// $("#main").keyup(function () {
		// 	console.log("HELO");
		// 	$.ajax({
		// 		url: "/background_process_test",
		// 		type: "get",
		// 		//   data: {jsdata: text}, //pass in form information?
		// 		success: function (response) {
		// 			$("#formSpeciesContent").html(response);
		// 		},
		// 		error: function (xhr) {
		// 			//Do Something to handle error
		// 		}
		// 	});
		// });


	</script>

</main>

{% endblock %}