{% extends "base.html" %}
{% block page_title %}LMPM home{% endblock %}
{% block content %}



<main role="main" id="main">
	<div class="container px-4 py-5">
		<h2 class="pb-2 border-bottom">Model builder</h2>

		<div class="row" style='height: 600px'>
			<div id="graph" class='p-0' style='border:1px solid black;'>
				<div id="toolbox">
					<input type="file" id="hidden-file-upload"><input id="upload-input" type="image"
						title="upload graph" src="upload-icon.png" alt="upload graph"> <input type="image"
						id="download-input" title="download graph" src="download-icon.png" alt="download graph"> <input
						type="image" id="delete-graph" title="delete graph" src="trash-icon.png" alt="delete graph">
				</div>
			</div>

		</div>

	</div>
	<div class="container px-4 py-5">
		<div class="row">
			<h2 class="pb-2 border-bottom">Parameter specs</h2>
		</div>

		<!-- <form>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Check me out</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form> -->

		<form id="modelParameters">
			<!-- Insert here the content of species based on this id, delete all below -->
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>

	<script src="//d3js.org/d3.v3.js" charset="utf-8"></script>
	<script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script>
	<script src="{{ url_for('static', filename='src/graph-creator.js') }}"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script>
		// here using the change event which fires after moving focus away from form input
		// else use input or keyon to change everytime anything is typed
		// VERY HELPFUL: https://eloquentjavascript.net/2nd_edition/18_forms.html

		// This one is just used first time to update the form with empty graph
		function initForm() {
			console.log("Initialize form");
			$.ajax({
				url: "/updated_graph",
				type: "POST",
				// pass in a string that represents the empty graph
        		contentType: 'application/json; charset=utf-8',
				data: '{"nodes":[],"edges":[]}',
				success: function (response) {
					// update form
					$("#modelParameters").html(response);
				},
				error: function (xhr) {
					// no error possible since expected data type is not specified
				}
			});
		};

		//to trigger if form has been updated
		function updatedForm() {
			//get data from the form
			var form_data = $('form').serialize();
			$.ajax({
				url: "/updated_form",
				type: "POST",
				data: form_data, //pass in form information
				success: function (response) {
					// nothing to do, just updated internal representation
					// TODO: must update parameters, maybe could only update them not all form to avoid disruptions
					$("#modelParameters").html(response);
					// so I could not have this here but the parameters which are in the form would only be updated
					// when updating the graph, and this would be a problem as you see changes in internal model
					// but not in the form surface...! so a solution to avoid updating everything may be only
					// subsetting the parameters and updating only the site of the parameters, should be easy... but would require another template for only the parameters
				},
				error: function (request, status, error) {
					// TODO: color cell in red or something with javascript and insert error message
        			console.log("Error\n" + request.responseJSON.message);
				}
			});
		};

		// initialize form
		$(document).ready(initForm);
		// // update it with every change in the graph
		// // $("#graph").mouseup(updateForm);
		// // $("#graph").keyup(updateForm);
		// // $("#graph").mouseout(updateForm);
		// $("#graph").mousedown(updatedGraph);
		// $("#graph").mouseup(updatedGraph);
		// $("#graph").click(updatedGraph);
		// $("#graph").mouseover(updatedGraph);
		// $("#graph").mouseout(updatedGraph);

		// trigger updatedForm every time a new value is added to the form
		$("#modelParameters").change(updatedForm);

		// function updateForm() {
		// 	console.log("Form update");
		// 	// var text = $(this).val();
		// 	$.ajax({
		// 		url: "/background_process_test",
		// 		type: "get",
		// 		//data: {jsdata: text}, //pass in form information
		// 		success: function (response) {
		// 			$("#modelParameters").html(response);
		// 		},
		// 		error: function (xhr) {
		// 			//Do Something to handle error
		// 		}
		// 	});
		// };

		// $("#main").keyup(function () {
		// 	console.log("HELO");
		// 	$.ajax({
		// 		url: "/background_process_test",
		// 		type: "get",
		// 		//   data: {jsdata: text}, //pass in form information?
		// 		success: function (response) {
		// 			$("#formSpeciesContent").html(response);
		// 		},
		// 		error: function (xhr) {
		// 			//Do Something to handle error
		// 		}
		// 	});
		// });


	</script>

</main>

{% endblock %}